.movies-container {
  border: 5px solid white;
  display: grid; 
  gap: 32px;
  grid-template-columns: repeat(auto-fill, minmax(250px, auto));
  padding: 5px;
  place-items: center;
}

.movie-card {
  display: grid;
  height:100%;
  grid-template-rows: 1fr auto auto;
  border: 5px solid blue;
}

.movie-card .title {
  align-self: center;
}

.movie-card img {
  object-fit: cover;
  width: clamp(240px, 100%, 350px);
}

.movies-container p {
  color: aliceblue;
  margin: 0;
  padding: 0;
}
