.no-results {
  align-items: center;
  background-color: #15202b;
  border: #e4e6eb solid 1px;
  border-radius: 15px;
  box-sizing: border-box;
  color: #e4e6eb;
  display: grid;
  height: 350px;
  margin-top: 40px;
  padding: 50px 0px 50px 0;
  text-align: center;
  width: clamp(300px, 300px + 10vw, 500px);
}
section:has(.no-results){
  display: flex;
  justify-content: center;
  flex-shrink: 1;
}

.no-results > * {
  padding: 0;
}

.no-results h2 {
  font-size: 30px !important;
}

.no-results p {
  font-size: 20px;
}